<table class="table">
	<thead class="teahd-dark">
		<th>id</th>
		<th>commentor</th>
		<th>content</th>
		<th>Time</th>
		<th>isLike</th>
		<th>repley</th>
	</thead>
	<tbody>
		<tr>
			<td>{{model.id}}</td>
			<td>{{model.commentor}}</td>
			<td>{{model.content}}</td>
			<td>{{model.time}}</td>
			<td>{{model.isLike}}</td>
			<td>{{model.repley}}</td>
		</tr>
	</tbody>
</table>