<h3>Fetch - FindAll</h3>
<table class="table table-striped table-hover">
	<thead class="tead-dark">
		<th>id</th>
		<th>name</th>
		<th>logo</th>
		<th>Address</th>
		<th>Employee</th>
		<th>Founding Time</th>
		<th>Local</th>
	</thead>
	<tbody>
		{{#each model as |comp|}}
			<tr>
				<td>{{comp.id}}</td>
				<td>{{comp.name}}</td>
				<td><img class="img-thumbnail" src= {{comp.logo}} alt= {{comp.name}}></td>
				<td>{{comp.address}}</td>
				<td>{{comp.employee}}</td>
				<td>{{comp.foundingTime}}</td>
				<td>{{comp.isLocation}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>