<h1 local-class="title">Welcome Come</h1>
<table>
	<th>
	<td>name</td>
	<td>age</td>
	<td>avatar</td>
	</th>
	<tbody>
		{{#each model as |author|}}
			<tr>
				<td>{{author.firstName}}</td>
				<td>{{author.lastName}}</td>
				<td>{{author.age}}</td>
				<td><img src={{author.avatar}} alt={{author.firstName}}></td>
			</tr>
		{{/each}}
	</tbody>
</table>
{{outlet}}